.yossarian-sea-bg { background: #023e8a; }
.yossarian-sea-text { color: #023e8a; }
.nately-darkPurple-bg { background: #242038; }
.nately-darkPurple-text { color: #242038; }
.nately-amethyst-bg { background: #9067C6; }
.nately-amethyst-text { color: #9067C6; }
.nately-middleBluePurple-bg { background: #8D86C9; }
.nately-middleBluePurple-text { color: #8D86C9; }
.nately-lavenderGray-bg { background: #CAC4CE; }
.nately-lavenderGray-text { color: #CAC4CE; }
.nately-linen-bg { background: #F7ECE1; }
.nately-linen-text { color: #F7ECE1; }
.mcwatt-persianGreen-bg { background: #1B998B; }
.mcwatt-persianGreen-text { color: #1B998B; }
.mcwatt-flickrPink-bg { background: #ED217C; }
.mcwatt-flickrPink-text { color: #ED217C; }
.mcwatt-spaceCadet-bg { background: #2D3047; }
.mcwatt-spaceCadet-text { color: #2D3047; }
.mcwatt-canary-bg { background: #FFFD82; }
.mcwatt-canary-text { color: #FFFD82; }
.mcwatt-lightSalmon-bg { background: #FF9B71; }
.mcwatt-lightSalmon-text { color: #FF9B71; }
.majorMajor-majorvelous-bg { background: #FF9FB2; }
.majorMajor-majorvelous-text { color: #FF9FB2; }
.majorMajor-piggyPink-bg { background: #FBDCE2; }
.majorMajor-piggyPink-text { color: #FBDCE2; }
.majorMajor-vividBlueSky-bg { background: #0ACDFF; }
.majorMajor-vividBlueSky-text { color: #0ACDFF; }
.majorMajor-greenSheen-bg { background: #60AB9A; }
.majorMajor-greenSheen-text { color: #60AB9A; }
.majorMajor-gainsboro-bg { background: #DEDEE0; }
.majorMajor-gainsboro-text { color: #DEDEE0; }
.cathcart-romanSilver-bg { background: #84828F; }
.cathcart-romanSilver-text { color: #84828F; }
.cathcart-oldLavender-bg { background: #6A687A; }
.cathcart-oldLavender-text { color: #6A687A; }
.cathcart-blackCoral-bg { background: #536271; }
.cathcart-blackCoral-text { color: #536271; }
.cathcart-charcoal-bg { background: #3E4C5E; }
.cathcart-charcoal-text { color: #3E4C5E; }
.cathcart-prussianBlue-bg { background: #2C3D55; }
.cathcart-prussianBlue-text { color: #2C3D55; }
.dunbar-lightPink-bg { background: #FBB7C0; }
.dunbar-lightPink-text { color: #FBB7C0; }
.dunbar-amaranthPurple-bg { background: #B6244F; }
.dunbar-amaranthPurple-text { color: #B6244F; }
.dunbar-flourescentBlue-bg { background: #34F6F2; }
.dunbar-flourescentBlue-text { color: #34F6F2; }
.dunbar-lightCyan-bg { background: #D1F5FF; }
.dunbar-lightCyan-text { color: #D1F5FF; }
